.container {
    text-align: center;
    width: 600px;
    margin: auto;
    padding: 10px;
}
/* #movie-container > div{
    width: 50%;
    float: left;
} */
table {
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   text-align: left;                                      
}

#movie-info{
}
td{
    border-bottom: 1px solid #ccc;
    font-size:17px;
    padding: 5px;
}
#movie-container{
    margin-top: 10px;
}